/* video-player style start */
.video-player {
	position: relative;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-end;

	margin: 0 auto;
	width: 100%;
	padding: calc(100% - 3rem) 0px 0px 0px;
}
.video-player._open-fullscreen {
	padding: 0px 0px 0px 0px;
	min-height: 37.5rem;
}

.video-player * {
	box-sizing: inherit;
	outline: none;
}

.video-player video {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	z-index: 1;
	cursor: pointer;
}

.video-player:focus-visible {
	outline: 1px dashed #ffb000;
}

.video-player :focus-visible {
	outline: 1px dashed #ffb000;
}

.video-player__volume-indicator {
	position: absolute;
	left: 50%;
	top: 3.125rem;
	transform: translateX(-50%);
	padding: 0.25rem 0.5rem;
	background-color: rgba(0, 0, 0, 0.6);
	border-radius: 0.25rem;
	pointer-events: none;
	z-index: 2;
	transition: opacity 0.3s ease 0s;

	font-family: "Lato", sans-serif;
    font-weight: 400;
	font-size: 1.125rem;
	line-height: 120%;
	color: var(--white);
}

.video-player__volume-indicator.hidden {
	opacity: 0;
}

.video-player__background-button {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 4.5rem;
	height: 4.5rem;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 50%;

	font-size: 4.5rem;
	color: var(--white);
	transition: all 0.3s ease 0s;
	background-color: transparent;
	z-index: 2;
	pointer-events: none;
}
.video-player__background-button._close {
	opacity: 0;
}
@media (max-width:37.5em) {
	.video-player__background-button {
		width: calc(3.5rem + (4.5 - 3.5) * ((100vw - 20rem) / (37.5 - 20)));
		height: calc(3.5rem + (4.5 - 3.5) * ((100vw - 20rem) / (37.5 - 20)));
		font-size: calc(3.5rem + (4.5 - 3.5) * ((100vw - 20rem) / (37.5 - 20)));
	}
}
@media (max-width:20em) {
	.video-player__background-button {
		width: 3.5rem;
		height: 3.5rem;
		font-size: 3.5rem;
	}
}

.video-player__controls {
	position: relative;
	z-index: 3;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.6);

	transition: opacity 0.3s ease 0s;
}

.video-player.video-playing .video-player__controls {
	opacity: 0;
	visibility: hidden;
	transition: opacity 0.3s ease 1s, visibility 0.3s ease 1s;
}

.video-player.video-playing.mousemove .video-player__controls {
	opacity: 1;
	visibility: visible;
	transition: opacity 0.3s ease 0s, visibility 0.3s ease 0s;
}

.timeline {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 0.25rem;
	background-color: rgba(255, 255, 255, 0.3);
	cursor: pointer;
}

.timeline::before {
	content: "";
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 0.875rem;
}

.timeline__progress {
	position: absolute;
	top: 0;
	left: 0;
	width: 0%;
	height: 100%;
	background-color: var(--white);
}

.timeline__handle {
	position: absolute;
	left: -0.375rem;
	top: -0.25rem;
	width: 0.75rem;
	height: 0.75rem;
	border-radius: 50%;
	background-color: var(--white);
	opacity: 0;
	transition: opacity 0.3s ease 0s;
}

.timeline:focus-visible .timeline__handle,
.timeline:hover .timeline__handle,
._on-mobile .timeline__handle {
	opacity: 1;
}

.video-player__bottom {
	display: flex;
	align-items: center;
	padding: 0.25rem 0px 0px 0px;
}

.video-player__btn {
	flex: 0 0 2.5rem;
	width: 2.5rem;
	height: 2.75rem;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: transparent;
	cursor: pointer;
}

.video-player-btn__icon {
	font-size: 1.25rem;
	pointer-events: none;
	color: var(--white);
	transition: color 0.3s ease 0s;
}
.video-player__btn:hover .video-player-btn__icon {
	color: var(--orange);
}

.video-player-btn__icon--play::before {
	content: "\F4F3";
}

.video-player-btn__icon--pause::before {
	content: "\F4C2";
}

.video-player-btn__icon--unmuted::before {
	content: "\F610";
}

.video-player-btn__icon--muted::before {
	content: "\F60C";
}

.video-player-btn__icon--fullscreen::before {
	content: "\F3DF";
}

.video-player._on-mobile .video-player__play {
	display: none;
}

/* volume-slider style start */
.video-player__volumes {
	display: inline-flex;
	align-items: center;
	gap: 0.5rem;
	margin: 0px 1rem 0px 0px;
}
.video-player._on-mobile .video-player__volumes {
	display: none;
}

.video-player-volume-panel {
	display: block;
	flex-shrink: 0;
	width: 3.25rem;
	height: 2.5rem;
	transition: width 0.3s ease 0s;
	cursor: pointer;
}

.video-player-volume-panel__slider {
	position: relative;
	height: 100%;
	overflow: hidden;
}

.video-player-volume-panel__handle {
	position: absolute;
	top: 50%;
	width: 0.75rem;
	height: 0.75rem;
	border-radius: 50%;
	margin: -0.375rem 0px 0px 0px;
	background-color: var(--white);
}

.video-player-volume-panel__handle::before,
.video-player-volume-panel__handle::after {
	content: "";
	position: absolute;
	display: block;
	top: 50%;
	left: 0;
	height: 0.1875rem;
	margin-top: -0.125rem;
	width: 4rem;
}

.video-player-volume-panel__handle::before {
	left: -3.625rem;
	background-color: var(--white);
}
.video-player-volume-panel__handle::after {
	left: 0.375rem;
	background-color: rgba(255, 255, 255, 0.2);
}

.video-player__time {
	font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: 1.125rem;
    line-height: 120%;
	color: var(--white);
}
.video-player._on-mobile .video-player__time {
	margin: 0px 0px 0px 0.625rem;
}

.video-player__fullscreen {
	margin-left: auto;
}
/* volume-slider style end */